<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>products Directory</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        .container{
            margin-top:3%;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div style="display:flex; justify-content : space-between">
        <h2 >products Directory</h2>
        <div>
            <form th:action="@{/logout}"
                  method="POST">
                <input class="btn btn-danger btn-sm mb-3" type="submit" value="logout"/>

            </form>
        </div>
    </div>
    <hr>

    <!-- Add a button -->
    <div th:switch="${role}">

        <div th:case="admin">
            <a th:href="@{/products/showFormForAdd}"
               class="btn btn-primary btn-sm mb-3">
                Add products
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped" aria-describedby="products">
        <thead class="thead-dark">
        <tr>
            <th  >Product id</th>
            <th >Name</th>
            <th >Price</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempProd : ${products}">

            <td th:text="${tempProd.id}" />
            <td th:text="${tempProd.name}" />
            <td th:text="${tempProd.price}" />
            <!-- Add update button/link -->
            <td >
                <div th:switch="${role}">

                    <div th:case="admin">
                        <a th:href="@{/products/showFormForUpdate(productId=${tempProd.id})}"
                           class="btn btn-info btn-sm">
                            Update
                        </a>

                        <!-- Add delete button/link -->

                        <!-- Add "delete" button/link -->
                        <a th:href="@{/products/delete(productId=${tempProd.id})}"
                           class="btn btn-danger btn-sm"
                           onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
                            Delete
                        </a>
                    </div>
                    <div th:case="*">
                        <a th:href="@{/cart/addItem(productId=${tempProd.id})}"
                           class="btn btn-info btn-sm">
                            Add To Cart
                        </a>
                    </div>
                </div>

            </td>

        </tr>
        </tbody>
    </table>
    <a href="/" class="btn btn-primary btn-sm">dashboard</a>
</div>

</body>
</html>